@charset "utf-8";

div.product_list {

}

div.product {
    height: 250px;
    width: 200px;
    display: inline-block;
    margin: 5px 5px 5px 5px;
}

div.product-img {
    border: solid;
    height: 200px;
    width: 150px;
}

span.detail {
    display: block;
}

span#brand-name {
    font-weight: bold;
}