@charset "utf-8";

#container {
    margin-top: 80px;
}

body {
    margin: auto;
    width: 980px;
}

.left-content {
    float: left;
    width: 250px;
}

.right-content {
    float: right;
    width: 700px;
}

div#breadcrumb {
    margin-bottom: 20px;
}